@import url('https://fonts.googleapis.com/css2?family=Anton&family=Borel&family=Nanum+Gothic&family=Oswald:wght@400;600;700&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

:root {
    --main-color: #edf2f4;
    --second-color: #0b090a;
    --third-color: #d00000;
    --main-back-color: #d00000;
    --second-back-color: #ffd60a;
    --third-back-color: #ededed;
}

#cursor {
    height: 10px;
    width: 10px;
    background-color: var(--second-color);
    border-radius: 50%;
    position: fixed;
    z-index: 100;
}

#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menubar {
    font-size: 1.5rem;
    color: var(--third-color);
    background-color: var(--main-color);
    padding: 10px 10px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    z-index: 50;
    top: 30px;
    right: 50px;
}

.menu-section {
    position: fixed;
    width: 600px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    top: 0;
    right: -100%;
    background-color: var(--third-back-color);
    z-index: 50;
}

.menu-section h1 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    color: #adb5bd;
}

.menu-section .divider {
    width: 150px;
    background-color: var(--second-color);
    height: 2px;
}

.menu-section ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}

.menu-section ul li {
    padding-block: 10px;
}

.menu-section ul li a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--second-color);
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

.menu-section i {
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 2.2rem;
    cursor: pointer;
}

#heading {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 4rem;
    margin-top: 50px;
    text-decoration: underline;
    font-weight: 600;
    color: var(--second-back-color);
}

#cart-section {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    background-color: var(--main-color);
    overflow: hidden;
}

#food-items {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.item {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: #fff;
}

.itemImg {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 6%;
    left: 2%;
    object-fit: cover;
    border-radius: 5px;
}

.foodName {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    top: 6%;
    left: 30%;
    font-size: 1.5rem;
    color: var(--second-color);
    font-weight: 600;
}

.foodCategory {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    top: 30%;
    left: 30%;
    font-size: 1rem;
    color: #6c757d;
}

.foodPrice {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    top: 47%;
    left: 30%;
    font-size: 1rem;
    font-weight: 600;
    color: #adb5bd;
}

.quantity {
    position: absolute;
    text-align: center;
    bottom: 5%;
    left: 29%;
    padding: 5px;
}

.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}

input.plus {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    background-color: var(--third-color);
    border-radius: 2px;
    color: var(--main-color);
}

input.minus {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    background-color: var(--third-color);
    border-radius: 2px;
    color: var(--main-color);
}
.delete{
    position: absolute;
    right: 5%;
    top: 10%;
    font-size: 1.2rem;
}
.final-price{
    position: absolute;
    right: 5%;
    bottom: 5%;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--third-color);
}
#grand-price{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    background-color: #fff;
}
#grand-price h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
    text-align: center;
}
#gdprice{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--second-color);
    text-align: center;
    margin-top: 10px;
}
#grand-price a{
    text-decoration: none;
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-back-color);
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: var(--second-color);
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: all 0.5s ease-out;
}
#grand-price a:hover{
    background-color: var(--third-color);
    color: var(--main-color);
}
@media (max-width:1020px){
    #cart-section{
        width: 95%;
    }
}
@media (max-width:810px){
    #heading{
        font-size: 2.5rem;
    }
    #cart-section{
        flex-direction: column;
    }
    .menu-section{
        width: 500px;
        right: -150%;
    }
}
@media (max-width:510px){
    #cursor{
        display: none;
    }
    .menu-section{
        width: 450px;
    }
    #food-items{
        width: 350px;
    }
    .itemImg{
        width: 90px;
        height: 90px;
    }
    .foodName{
        font-size: 1rem;
        left: 37%;
    }
    .foodCategory{
        left: 37%;
    }
    .foodPrice{
        left: 37%;
    }
    .quantity{
        left: 35%;
    }
    .final-price{
        font-size: 1rem;
    }
    #grand-price{
        margin-top: 30px;
        width: 350px;
    }
}
@media (max-width:400px){
    .menu-section{
        width: 375px;
    }
    #cart-section{
        width: 100%;
    }
    #grand-price{
        width: 300px;
    }
    #grand-price a{
        width: 95%;
    }
}
@media (max-width:375px){
    .menu-section{
        width: 325px;
    }
    #heading{
        font-size: 2rem;
    }
    #food-items{
        width: 320px;
    }
}