@import url('https://fonts.googleapis.com/css2?family=Anton&family=Borel&family=Nanum+Gothic&family=Oswald:wght@400;600;700&family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
:root{
    --main-color:#edf2f4;
    --second-color:#0b090a;
    --third-color:#d00000;
    --main-back-color:#d00000;
    --second-back-color:#ffd60a;
    --third-back-color:#ededed;
}
#cursor{
    height: 10px;
    width: 10px;
    background-color: var(--second-color);
    border-radius: 50%;
    position: fixed;
    z-index: 100;
}
#menubar{
    font-size: 1.5rem;
    color: var(--third-color);
    background-color: var(--main-color);
    padding: 10px 10px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    z-index: 50;
    top: 30px;
    right: 50px;
}
#main{
    width: 100%;
}
.menu-section{
    position: fixed;
    width: 600px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    top: 0;
    right:-150%;
    background-color: var(--third-back-color);
    z-index: 50;
}
.menu-section h1{
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    color: #adb5bd;
}
.menu-section .divider{
    width: 150px;
    background-color: var(--second-color);
    height: 2px;
}
.menu-section ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}
.menu-section ul li{
    padding-block: 10px;
}
.menu-section ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--second-color);
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
.menu-section i{
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 2.2rem;
    cursor: pointer;
}
nav{
    width: 100%;
    position: fixed;
}
nav img{
    width: 120px;
    margin-left: 50px;
}
#heading-text{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.text-container{
    width: 1000px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    overflow: hidden;
    position: relative;
}
.text-container #bannerimg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
}
.text-container h1{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 7rem;
    font-weight: 400;
    letter-spacing: 1.4px;
    color: var(--second-color);
}
.text-container h1 span{
    font-style: italic;
    font-weight: 600;
}
.intro{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    gap: 50px;
}
.intro-image{
    width: 500px;
    height: 80%;
    border-radius: 30px;
    overflow: hidden;
}
.intro-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-intro{
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.text-intro h1{
    font-family: 'Anton', sans-serif;
    font-size: 4.5rem;
    color: var(--third-color);
    letter-spacing: 1.5px;
}
.text-intro p{
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    text-align: center;
}
#text-scroller{
    padding-block: 30px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#text-scroller::-webkit-scrollbar{
    display: none;
}
#first-texts{
    display: inline-block;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
    margin-right: 10px;
}
#second-texts{
    display: inline-block;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
    margin-right: 10px;
}
#third-texts{
    display: inline-block;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
    margin-right: 10px;
}
#text-scroller h1{
    font-family: 'Nanum Gothic', sans-serif;
    display: inline-block;
    font-size: 6rem; 
    font-weight: 400;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px var(--second-color);
    transition: all linear 0.5s;
}
#text-scroller h1:hover{
    color: var(--second-color);
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translate(-100%);
    }
}
.top-foods-container{
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--main-color);
    border-radius: 60px 60px 0px 0px;
}
.top-foods-container h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
    font-size: 3rem;
    color: var(--second-back-color);
}
.images{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 50px;
    gap: 50px;
}
.images img{
    width: 400px;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.service-container{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.service-container h1{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    font-size: 6rem;
    width: 50%;
}
.service-container h2{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 6rem;
    width: 50%;
    font-style: italic;
}
.service-section{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.services{
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--second-color);
    border-radius: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--second-color);
    text-transform: capitalize;
    transition: all 0.5s ease-out;
}
.services:hover{
    color: var(--main-color);
    background-color: var(--second-color);
}
.feedback-section{
    width: 100%;
    background-color: var(--third-back-color);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.feedbacks{
    width: 250px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 15px;
    background-color: #fff;
    box-shadow: 10px 10px 5px #ccc;
}
.feedbacks .fa-user{
    font-size: 2rem;
    color: var(--second-color);
}
.ratings{
    display: flex;
    gap: 8px;
}
.ratings i{
    color: var(--second-back-color);
    font-size: 1.5rem;
}
.feedbacks p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
}
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 20px;
    background-color: var(--second-color);
}
.useful-link{
    display: flex;
    flex-direction: column;
}
.useful-link h1{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: var(--main-color);
}
.useful-link a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: #adb5bd;
}
.useful-link p{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: #adb5bd; 
}
.address{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.address h2{
    font-family: 'Oswald', sans-serif;
    color: var(--main-color);
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
}
@media (max-width:1028px){
    .text-container{
        width: 900px;
    }
    .text-container h1{
        font-size: 6rem;
    }
    .intro-image{
        width: 400px;
    }
    .text-intro{
        width: 400px;
    }
    .text-intro h1{
        font-size: 3rem;
    }
    .text-intro p{
        font-size: 2rem;
    }
    .images img{
        width: 300px;
        height: 400px;
    }
    .service-container h1{
        font-size: 4.5rem;
    }
    .service-container h2{
        font-size: 4.5rem;
    }
    .services{
        width: 200px;
        height: 200px;
    }
    .useful-link h1{
        font-size: 1.5rem;
    }
    .useful-link a{
        font-size: 1rem;
    }
    .useful-link p{
        font-size: 1rem;
    }
}
@media (max-width:903px){
    .text-container{
        width: 700px;
    }
    .text-container h1{
        font-size: 5rem;
    }
}
@media (max-width:768px){
    .text-container h1{
        font-size: 4rem;
    }
    .intro-image{
        width: 350px;
        height: 60%;
    }
    .text-intro{
        width: 300px;
    }
    .text-intro h1{
        font-size: 2.5rem;
    }
    .text-intro p{
        font-size: 1.7rem;
    }
    .service-section{
        gap: 30px;
    }
}
@media (max-width:686px){
    .menu-section{
        width: 500px;
        right: -150%;
    }
    .text-container{
        width: 500px;
    }
    .text-container h1{
        font-size: 3rem;
    }
    .intro{
        height: 80vh;
    }
    .intro-image{
        height: 80%;
    }
    .top-foods-container h1{
        font-size: 2rem;
    }
    .images img{
        width: 200px;
        height: 300px;
    }
    .services{
        width: 150px;
        height: 150px;
        font-size: 1rem;
    }
    footer{
        flex-direction: column;
        gap: 50px;
    }
    .useful-link{
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:526px){
    .menu-section{
        width: 450px;
    }
    #heading-text{
        height: 75vh;
    }
    .text-container{
        width: 100%;
    }
    .text-container h1{
        font-size: 2.5rem;
    }
    .text-container #bannerimg{
        width: 60px;
        height: 60px;
    }
    .intro-image{
        display: none;
    }
    .text-intro{
        width: 100%;
    }
    .text-intro h1{
        font-size: 2rem;
    }
    .intro{
        height: fit-content;
    }
    .services:nth-child(3){
        display: none;
    }
}
@media (max-width:425px){
    .menu-section{
        width: 325px;
    }
    #heading-text{
        height: 65vh;
    }
    .text-container{
        width: 100%;
    }
    .text-container h1{
        font-size: 2rem;
    }
    .text-container #bannerimg{
        width: 40px;
        height: 40px;
    }
    .text-intro h1{
        font-size: 1.5rem;
    }
    .text-intro p{
        font-size: 1.2rem;
    }
    #text-scroller h1{
        font-size: 4rem; 
    }
    .images img{
        width: 150px;
        height: 200px;
    }
    .service-container h1{
        font-size: 3rem;
    }
    .service-container h2{
        font-size: 3rem;
    }
    .services{
        width: 120px;
        height: 120px;
        font-size: 0.8rem;
    }
    .service-container h1{
        width: 100%;
    }
    .service-container h2{
        width: 100%;
    }
}
@media (max-width:325px){
    .text-container h1{
        font-size: 1.5rem;
    }
    .images img{
        width: 100px;
        height: 150px;
    }
}