@import url('https://fonts.googleapis.com/css2?family=Anton&family=Borel&family=Oswald:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
body::-webkit-scrollbar{
    display: block;
    width: 8px;
    background-color: #f5f3f4;
}
body::-webkit-scrollbar-thumb{
    background-color: #ffd60a;
    border-radius: 50px;
}
:root{
    --main-color:#edf2f4;
    --second-color:#0b090a;
    --third-color:#d00000;
    --main-back-color:#d00000;
    --second-back-color:#ffd60a;
    --third-back-color:#ededed;
}
#cursor{
    height: 10px;
    width: 10px;
    background-color: var(--second-color);
    border-radius: 50%;
    position: fixed;
    z-index: 100;
}
#main{
    width: 100%;
}
.menu-section{
    position: fixed;
    width: 600px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    top: 0;
    right:-150%;
    background-color: var(--third-back-color);
    z-index: 50;
}
.menu-section h1{
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    color: #adb5bd;
}
.menu-section .divider{
    width: 150px;
    background-color: var(--second-color);
    height: 2px;
}
.menu-section ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}
.menu-section ul li{
    padding-block: 10px;
}
.menu-section ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--second-color);
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
.menu-section i{
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 2.2rem;
    cursor: pointer;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding-inline: 100px;
    padding-block: 10px;
    z-index: 10;
}
nav img{
    width: 110px;
    height: 110px;
}
#menubar{
    font-size: 1.5rem;
    color: var(--third-color);
    background-color: var(--main-color);
    padding: 10px 10px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    z-index: 50;
    top: 30px;
    right: 50px;
}
#hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: var(--main-color);
}
#hero #texts{
    width: 40%;
    height: 80%;
    display: flex;
    align-items: start;
    padding-inline: 20px;
    padding-block: 50px;
    flex-direction: column;
}
#texts h1{
    font-family: 'Anton', sans-serif;
    font-size: 4.5rem;
    color: var(--second-color);
    letter-spacing: 1.5px;
}
#texts p{
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: var(--second-color);
    font-weight: 400;
}
#texts p i{
    color: green;
    margin-right: 10px;
}
#hero-images{
    width: 30%;
    height: 70%;
    border-radius: 50px;
    overflow: hidden;
}
#hero-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.intro{
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.intro h1{
    width: 40%;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    color: var(--second-color);
    letter-spacing: 0.6px;
    font-weight: 400;
    overflow: hidden;
}
.intro h1 span{
    color: var(--main-back-color);
    font-weight: 600;
    font-size: 4rem;
}
.intro .i-images{
    width: 46%;
    height: 600px;
}
.i-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-dishes-section{
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    gap: 10px;
    background-color: var(--main-color);
}
.top-dishes-section #top-heading{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: var(--second-back-color);
    font-size: 3rem;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 20px;
}
.top-dishes-section #top-heading span{
    color: var(--main-back-color);
}
.top-dishes-section .list{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    gap: 20px;
}
.food-cards{
    position: absolute;
    width: 350px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
}
.cards{
    width: 100%;
    height: 100%;
    position: relative;
}
.food-cards img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#card1{
    top: 1%;
    left: 1%;
}
#card2{
    top: 15%;
    left: 25%;
}
#card3{
    top: 30%;
    left: 50%;
}
#card4{
    top: 45%;
    left: 75%;
}
.top-dishes-section #menu-btn{
    text-decoration: none;
    color: var(--main-back-color);
    font-family: 'Oswald', sans-serif;
    padding: 15px 25px;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
    border: 2px solid var(--main-back-color);
    transition: all 0.3s ease-in-out;
}
.top-dishes-section #menu-btn:hover{
    background-color: var(--main-back-color);
    color: var(--main-color);
}
.services{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}
.service-cards{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg,var(--second-back-color),var(--main-color));
    border-radius: 50%;
    gap: 20px;
    transition: all 0.1s ease-in-out;
}
.service-cards i{
    font-size: 1.7rem;
    color: var(--second-color);
}
.service-cards p{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: var(--second-color);
    font-size: 1.2rem;
}
.service-cards:hover{
    background: var(--second-back-color);
}
.user-feedback-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}
.user-feedback-section h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: var(--main-back-color);
    font-weight: 600;
    font-size: 2.5rem;
}
.feedbacks{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.feedback{
    width: 300px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 10px 0px 20px #ededed,-10px 0px 20px  #ededed;
}
.feedback h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    color: var(--second-color);
}
.feedback .stars{
    margin-top: 20px;
    color: var(--second-back-color);
}
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: var(--third-back-color);
}
footer img{
    width: 200px;
}
.useful-link{
    display: flex;
    flex-direction: column;
}
.useful-link h1{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: var(--second-color);
}
.useful-link a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    color: #adb5bd;
}
.useful-link p{
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    color: #adb5bd; 
}
@media (max-width:1230px){
    #texts{
        width: 35%;
    }
    #texts h1{
        font-size: 3.5rem;
    }
    #hero-images{
        width: 35%;
        height: 65%;
    }
    .intro h1{
        width: 35%;
        font-size: 2rem;
    }
    .intro h1 span{
        font-size: 3.5rem;
    }
    .intro .i-images{
        width: 50%;
        height: 500px;
    }
    .food-cards{
        width: 300px;
        height: 350px;
    }
}
@media (max-width:1040px){
    #texts h1{
        font-size: 3rem;
    }
    .intro h1{
        font-size: 1.5rem;
    }
    #card2{
        left: 20%;
    }
    #card3{
        left: 45%;
    }
    #card4{
        left: 70%;
    }
    .service-cards{
        width: 170px;
        height: 170px;
    }
    .feedback{
        width: 250px;
        height: 200px;
    }
    .feedback h3{
        font-size: 1rem;
    }
}
@media (max-width:991px){
    #hero{
        height: 90vh;
    }
    #card4{
        left: 65%;
    }
    #texts h1{
        letter-spacing: 0.8px;
        font-size: 2.8rem;
    }
}
@media (max-width:830px){
    #hero{
        height: 85vh;
    }
    .intro h1 span{
        font-size: 3rem;
    }
    .top-dishes-section{
        height: 120vh;
    }
    .top-dishes-section #top-heading{
        font-size: 2.5rem;
    }
    #card2{
        left: 30%;
    }
    #card3{
        display: none;
    }
    #card4{
        top: 30%;
        left: 55%;
    }
    .service-cards{
        width: 150px;
        height: 150px;
    }
    .service-cards i{
        font-size: 1.5rem;
    }
    .service-cards p{
        font-size: 1rem;
    }
    .user-feedback-section h1{
        font-size: 2rem;
    }
    .feedback{
        height: 150px;
    }
    footer img{
        width: 150px;
    }
}
@media (max-width:768px){
    #hero{
        gap: 10px;
    }
    #hero #texts{
        width: 40%;
    }
    #texts h1{
        font-size: 2.5rem;
    }
    #hero-images{
        height: 60%;
    }
    .intro{
        flex-direction: column;
        gap: 50px;
    }
    .intro h1{
        width: 100%;
        text-align: center;
        font-size: 2rem;
    }
    .intro h1 span{
        font-size: 3.5rem;
    }
    .intro .i-images{
        width: 100%;
        height: 800px;
    }
    .service-cards{
        width: 170px;
        height: 150px;
    }
    .service-cards i{
        font-size: 1.2rem;
    }
    .service-cards p{
        font-size: 0.9rem;
    }
}
@media (max-width:700px){
    #hero{
        height: 70vh;
    }
    #texts h1{
        font-size: 2rem;
    }
    .menu-section{
        width: 500px;
    }
    #card2{
        left: 25%;
    }
    .service-cards:nth-child(1){
        display: none;
    }
    .feedback:nth-child(4){
        display: none;
    }
    footer{
        flex-direction: column;
    }
    .useful-link{
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:636px){
    .food-cards{
        width: 250px;
        height: 300px;
    }
    #hero{
        justify-content: space-between;
        padding-inline: 50px;
    }
    #hero #texts{
        width: 50%;
    }
    #hero-images{
        width: 40%;
    }
    #texts h1{
        font-size: 1.7rem;
    }
    #texts p{
        font-size: 1.2rem;
    }
}
@media (max-width:550px){
    
}